---
layout: layouts/base.vto
---

<div class="prose dark:prose-invert prose-stone max-w-none">
  {{ if title }}
    <h1 class="text-3xl font-bold text-stone-900 dark:text-stone-100 mb-8">
      {{ title }}
    </h1>
  {{ /if }}
  {{ content }}
</div>
